@import './base.scss';
.pos-app ul{
    li{
      list-style: none;
    }
  }
  .pos-app a{
      color: inherit;
  }
  .pos-app .pos-app-sider {
    box-sizing: border-box;
    background: #16181d;
    height: 100%;
    color: $color-fz-light;
    transition: width .5s;
    .pos-sider-mian-menu{
      width: 115px;
      box-sizing: border-box;
      float: left;
    }
    .pos-sider-sec-menu{
      width: 135px;
      height: 100%;
      box-sizing: border-box;
      float: left;
      background: #eaeef2;
      position: relative;
      overflow: hidden;
      color: #666666;
      padding-top: 20px;
      .hide-menu{
        position: absolute;
        top: 50%;
        right: 0;
        background: #f4f7f7;
        width: 10px;
        height: 30px;
        transform:translateY(-50%);
      }
      .fir-nav-arrow{
        position:absolute;
        left: 10px;
        top: 9px;
        font-weight: 600;
        transition:all .5s;
        transform: rotate(-90deg);
      }
  
      li.menu-fir-nav > a{
        font-weight: 600;
      }
      li{
  
        position: relative;
        &>a{
          padding-left: $gap-xwide;
           height: 34px;
        line-height: 34px;
        display: block;
        }
        &.active{
          background: $color-bg-main;
        }
        &.expand{
          .fir-nav-arrow{
            position:absolute;
            left: 10px;
            top: 9px;
            font-weight: 600;
            transform: rotate(0deg);
          }
        }
  
      }
    }
    .sider-icon{
      margin:0 $gap-normal;
      position: relative;
      top: -1px;
      img{
        vertical-align: middle;
        height: 14px;
      }
    }
    .pos-sider-nav{
      & > li{
        height:$height-header;
        margin: 7px 0;
        font-size: $fz-nav;
        line-height: $height-header;
        transition: background .5s;
        a{
          color: $color-fz-light;
        }
        &.active{
          background: $color-nav-light
        }
      }
    }
  }
  .pos-app-content {
    background: $color-bg-main;
    height: 100%;
    padding: $gap-normal $gap-xwide;
    overflow:auto;
  }

  .pos-app-modal{
      .ivu-modal-wrap{
        display: flex;
        align-items: center;
      }
    .ivu-modal{
        top: 0
    }
    .ivu-modal-body{
        padding: 0 94px;
    }
    .ivu-modal-content{
        border-radius: 0;
    }
    .ivu-modal-header-inner{
        font-size: $fz-title;
        font-weight: normal;
        color: $color-fz-main;
    }
    .ivu-modal-close{
        top: 12px;
        right: 20px;
        .ivu-icon-ios-close{
            font-size: 24px;
            font-weight: normal;
            color: $color-fz-main;
        }
    } 
    .ivu-modal-header{
        background: $color-modal-title;
    }
    .ivu-modal-footer{
        height: 81px;
        padding: 0 $gap-normal;
        text-align: center;
        line-height: 81px;
        button{
            font-size: $fz-modal-btn;
            height: 46px;
            width: 120px;
            border-radius: 0;
            margin-left: 20px;
            border: 1px solid #D2D2D2;
            &.ivu-btn-primary{
                background: $color-btn-sure;
                border: 1px solid $color-btn-sure;
            }
        }
    }
    .ivu-tabs{
        margin-top: 30px;
    }
    .ivu-tabs-bar{
        margin-bottom: 0;
    }
    .ivu-tabs-nav-scroll{
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight:bold;
        .ivu-tabs-tab{
            padding:0 16px 10px;
            margin: 0 24px;
            border-bottom: none;
        }
        .ivu-tabs-nav .ivu-tabs-tab-active{
            color: $color-tab-active;
            border-bottom: 3px solid $color-tab-active;
            
        }
        .ivu-tabs-ink-bar{
            background-color:  $color-tab-active;
            display: none;
        }
    }
    .ivu-tabs-tabpane{
        padding: 30px 50px;
    }
  }
  .pos-app-form{
    height: 600px;
    .pos-app-Select{
        &.required{
            label{
                color: #0D9ECE
            }
        }
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        margin-bottom: 10px;
        color: #999999;
        width: 340px;
        height: 40px;
        border: 1px solid #E5E5E5;
        line-height: 40px;
        box-sizing: border-box;
        position: relative;
        label{
            position: absolute;
            top: 0;
            left: 0;
            width: 96px;
            height: 40px;
            background: #eeeeee;
            box-sizing: border-box;
            padding-left: 22px;
        }
        .ivu-select-selection{
            height: 100%;
            border: none;
            padding-left: 100px;
        }
        .ivu-select-placeholder{
            height: 34px;
            box-sizing: border-box;
        }
    }
      .pos-app-switch{
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        margin-bottom: 10px;
        color: #999999;
        width: 340px;
        height: 40px;
        border: 1px solid #E5E5E5;
        line-height: 40px;
        box-sizing: border-box;
        padding-left: 22px;
        label{
          color: #999999;
        }
        label.required{
          color: #0D9ECE
        }
        span.ivu-switch{
            height: 26px;
            width: 50px;
            float: right;
            margin: 6px;
            background: rgb(204,204,204);
        }
        .ivu-switch:after{
            width: 20px;
            height: 20px;
            top: 2px;
        }
        .ivu-switch-checked:after{
            top: 3px;
            left: 28px;
        }
        span.ivu-switch-checked{
            background: #43B9E0;
            border: none;
        }
        .ivu-switch:focus{
            box-shadow: none;
        }
      }
      .pos-app-input{
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        margin-bottom: 10px;
        color: #999999;
        width: 340px;
        .ivu-input{
            height: 40px;
            border-radius: 0;
            font-style: 14px;
            border-left: 0;
        }
        .no-border-right{
            .ivu-input{
                border-right: 0;
            }
        }
        .ivu-input:focus{
            box-shadow:none;
            border-color:#dcdee2;
        }
        .ivu-input:hover{
            border-color:#dcdee2;
        }
        .ivu-input-group-prepend{
            width: 96px;
            text-align: left;
            padding-left: 22px;
            box-sizing: border-box;
            border-radius: 0;
            background-color: #EEEEEE;
            color: #666666;
            .required{
              color: #0D9ECE;
            }
            
        }
        .ivu-input-group-append{
            padding: 0;
            border-radius: 0;
            background-color: transparent;
            width: 40px;
            button{
                background: #0D9ECE;
                color: #fff;
                height: 100%;
                width: 50px;
                text-align: center;
                padding: 0;
                margin: 0;
                border-radius: 0;
                display: block;
                height: 40px;
                margin-top: -1px;
                font-size: 14px;
            }
        }
        .ivu-input[disabled], fieldset[disabled] .ivu-input{
            background-color: #EEEEEE;
        }
      }
      
  }